.person_table_person_ID {
	width:60px;
}
.person_table_person_name {
	width:70px;
}
.person_table_person_sexuality {
	width:40px;
}
.person_table_person_birth {
	width:120px;
}
/*
.person_table_person_phone {
	width:70px;
}
.person_table_person_house {
	width:70px;
}
.person_table_person_room {
	width:70px;
}
.person_table_person_type {
	width:70px;
}
.person_table_person_group {
	width:70px;
}
.person_table_person_dharma {
	width:70px;
}
.person_table_person_degree {
	width:70px;
}
.person_table_person_identity {
	width:70px;
}
.person_table_person_identity_address {
	width:70px;
}
.person_table_person_current_address {
	width:70px;
}
.person_table_person_x {
	width:70px;
}
.person_table_person_remarks {
	width:70px;
}
.person_table_person_prearrive_date {
	width:70px;
}
.person_table_person_prearrive_time {
	width:70px;
}
.person_table_person_prearrive_confirm {
	width:70px;
}
.person_table_person_arrive_date {
	width:70px;
}
.person_table_person_arrive_time {
	width:70px;
}
.person_table_person_preleave_date {
	width:70px;
}
.person_table_person_preleave_time {
	width:70px;
}
.person_table_person_preleave_confirm {
	width:70px;
}
.person_table_person_leave_date {
	width:70px;
}
.person_table_person_leave_time {
	width:70px;
}
.person_table_person_break_start_date {
	width:70px;
}
.person_table_person_break_start_time {
	width:70px;
}
.person_table_person_break_end_date {
	width:70px;
}
.person_table_person_break_end_time {
	width:70px;
}
.person_table_person_healthy {
	width:70px;
}
.person_table_person_marriage {
	width:70px;
}
.person_table_person_email {
	width:70px;
}
.person_table_person_QQ {
	width:70px;
}
.person_table_person_emergency_person {
	width:70px;
}
.person_table_person_emergency_relationship {
	width:70px;
}
.person_table_person_emergency_contact {
	width:70px;
}
.person_table_person_employer {
	width:70px;
}
.person_table_person_job {
	width:70px;
}
.person_table_person_work_experience {
	width:70px;
}
.person_table_person_specialty_features {
	width:70px;
}
.person_table_person_volunteer_obey {
	width:70px;
}
.person_table_person_volunteer_advise {
	width:70px;
}
.person_table_person_volunteer_reason {
	width:70px;
}
*/
